<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사용자 등록</title>
    <style>
        input { padding: 3px;}
    </style>
</head>
<body style="margin: 50px;">
    <h1>사용자 등록</h1>
    <hr>
    <form action="/sb/exam/member/insert" method="post">
        <input type="text" name="mid" placeholder="mid"><br><br>
        <input type="text" name="name" placeholder="name"><br><br>
        <input type="text" name="age" placeholder="age"><br><br>
        <input type="text" name="country" placeholder="country"><br><br>
        <input type="submit" value="가입">
    </form>
</body>
</html>